@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@1,300&family=Roboto&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-left: 5%;
  font-family: 'Roboto', sans-serif;
}

.main-board {
  display: flex;
  justify-content: center;
  width: 95%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 2.5%;
  border: black 2px solid;
  padding: 10px;
  border-radius: 2px;
}

#reset-sec {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

#display-score {
  width: 40%;
  margin-left: 5%;
}

#set-score {
  width: 40%;
  margin-left: 10%;
}

#submit-score-btn {
  max-width: 50%;
  align-self: flex-end;
  margin-top: 5%;
  margin-right: 10px;
  box-shadow: 3px 3px;
}

#refresh-score-btn {
  height: 25%;
  align-self: flex-end;
  margin-bottom: 4%;
  box-shadow: 3px 3px;
}

footer {
  background-color: darkgray;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 5%;
  height: 2em;
  padding-bottom: 5px;
  border: black 2px solid;
}

#user {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-height: 50%;
  border: 3px solid black;
}

#user td {
  border: 1px solid #ddd;
  padding: 5px;
}

#user tr:nth-child(even) { background-color: #f2f2f2; }

#user tr:hover { background-color: #ddd; }
